@import "reset.css";
@import "./vars.css";

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background: #f3f3f3;
}

button {
    outline: none;
}

.page {
    background: antiquewhite;
}
