.wrap {
    background: #da473e;
}

.content {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: #fff;
    max-width: 980px;
    width: 100%;
    padding: 0 10px;
    margin: auto;
    box-sizing: border-box;
}

.contentChild {
    display: flex;
    align-items: center;
    height: 100%;
}

.btnMenuItem {
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.logo {
    background: url("./icons/logo.png") no-repeat center / cover;
    width: 132px;
    height: 25px;
    display: block;
    margin-right: 16px;
}

.menu {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
    align-items: center;

    li {
        list-style: none;
        height: 100%;
        display: flex;
        align-items: center;
    }

    a:not(.publish) {
        padding: 0 20px;
        height: 100%;
        display: flex;
        align-items: center;
        color: #fff;
        text-decoration: none;
        border: none;
        cursor: pointer;
        position: relative;

        &:hover {
            background: #e75856;
        }
    }
}

.subMenu {
    margin: 0;
    padding: 10px 0;
    border: 1px solid #cbcbcb;
    border-top: none;
    border-radius: 0 0 4px 4px;
    position: absolute;
    top: 50px;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity ease 300ms, transform ease 300ms;

    li {
        list-style: none;
    }

    a:not(.publish) {
        text-decoration: none;
        color: #000;
        padding: 8px 20px;
        width: 100%;

        &:hover {
            color: #da473e;
            background: transparent;
        }
    }
}

.subMenuOpened {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.publish {
    background: #149769;
    padding: 0 16px;
    font-weight: 500;
    margin-right: 10px;

    &:hover {
        background: #16a875;
    }
}

.register {
    padding: 0 20px 0 38px;
    background: transparent url("./icons/register.png") no-repeat 18px center / 16px 15px;

    &:hover {
        background-color: #e75856;
    }
}

.login {
    padding: 0 20px 0 38px;
    background: transparent url("./icons/login.png") no-repeat 18px center / 14px 15px;

    &:hover {
        background-color: #e75856;
    }
}

.isNewResponses {
    &::after {
        content: "";
        width: 5px;
        height: 5px;
        background-color: #fff;
        border-radius: 100%;
        display: block;
        position: absolute;
        top: 14px;
        right: 14px;
    }
}

.forms {
    padding: 0 20px 0 38px;
    background: transparent url("./icons/forms.png") no-repeat 18px center / 15px 15px;

    &:hover {
        background-color: #e75856;
    }
}

.wallet {
    padding: 0 20px 0 38px;
    background: transparent url("./icons/wallet.png") no-repeat 18px center / 15px 15px;

    &:hover {
        background-color: #e75856;
    }
}

.profile {
    padding: 0 20px 0 38px;
    background: transparent url("./icons/profile.png") no-repeat 18px center / 12px 15px;

    &:hover {
        background-color: #e75856;
    }
}

.mobile {
    display: none;
}

.mobMenuBtn {
    background: transparent url("./icons/mob-menu.png") no-repeat center / cover;
    width: 25px;
    height: 25px;
    display: block;
    border: none;
    outline: none;
}

.mobMenuOpened {
    background: transparent url("./icons/mob-menu-close.png") no-repeat center / cover;
}

.overlayMenu {
    position: absolute;
    top: 50px;
}

.mobMenu {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }

    a {
        color: #000;
        text-decoration: none;
        display: block;
        margin: 20px 0 20px 20px;
    }
}

@media all and (max-width: 960px) {
    .right {
        display: none;
    }

    .mobile {
        display: inherit;
    }
}

@media all and (max-width: 500px) {
    .menu {
        display: none;
    }

    .btnMenuItem {
        padding: 0 10px 0 28px;
        background-position: 6px center;
    }

    .mobMenu a {
        margin: 20px 0 20px 8px;
    }
}
