<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, user-scalable=yes">
        <meta name="format-detection" content="telephone=no">
        <meta name="google" content="notranslate">
        {{helmetTitle}}
        {{helmetMeta}}

        <link href='http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{app.css}}">

        <link rel="preload" as="script" href="{{vendor.js}}">
        <link rel="preload" as="script" href="{{app.js}}">

        {{helmetLink}}

        <meta name="apple-mobile-web-app-capable" content="yes">
    </head>

    <body>
        <div class="wrapper" id="app-container">{{content}}</div>
        <script src="{{vendor.js}}"></script>
        <script>window.clientConfig = JSON.parse(decodeURIComponent("{{clientConfig}}"));</script>
        <script>window.transitState = decodeURIComponent("{{state}}");</script>
        <script>window.transitUserData = decodeURIComponent("{{userData}}");</script>
        <script src="{{app.js}}"></script>
    </body>
</html>
